include *.rst *.py
recursive-include pyramid_fullauth *.py *.yml
recursive-include pyramid_fullauth/resources *.mako *.pot
recursive-include docs *
prune docs/build
recursive-include tests *.py *.yml
