[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-localize = "==1.0.5"
pyramid-basemodel = "==0.6.1"
pyramid-mako = "==1.1.0"
sqlalchemy = "==2.0.23"
velruse = "==1.1.1"

[dev-packages]
towncrier = "==23.6.0"
black = "==23.12.1"
pytest = "==7.4.3"
pytest-cov = "==4.1.0"
mock = "==5.1.0"
pytest-mysql = "==2.4.2"
pytest-postgresql = "==5.0.0"
pytest-pyramid = "==1.0.3"
tbump = "==6.11.0"
pdbpp = "==0.10.3"
sphinx = {version = "==7.2.6", markers="python_version > '3.8'"}
psycopg = "==3.1.10"
ruff = "==0.0.292"
