[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-localize = "==1.0.4"
pyramid-basemodel = "==0.6.0"
pyramid-mako = "==1.1.0"
sqlalchemy = "==2.0.20"
velruse = "==1.1.1"

[dev-packages]
towncrier = "==23.6.0"
black = "==23.7.0"
pydocstyle = {version = "==6.3.0", extras = ["toml"]}
pycodestyle = "==2.11.0"
pylint = "==2.17.5"
pytest = "==7.4.1"
pytest-cov = "==4.1.0"
mock = "==5.1.0"
pytest-mysql = "==2.4.2"
pytest-postgresql = "==5.0.0"
pytest-pyramid = "==1.0.2"
tbump = "==6.10.0"
pdbpp = "==0.10.3"
sphinx = {version = "==7.2.4", markers="python_version > '3.8'"}
psycopg = "==3.1.10"
