[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyramid = "==2.0.2"
pyramid-localize = "==1.0.6"
pyramid-basemodel = "==0.6.1"
pyramid-mako = "==1.1.0"
sqlalchemy = "==2.0.35"
velruse = "==1.1.1"

[dev-packages]
towncrier = "==24.8.0"
black = "==24.8.0"
pytest = "==8.3.2"
pytest-cov = "==5.0.0"
mock = "==5.1.0"
pytest-mysql = "==3.0.0"
pytest-postgresql = "==6.1.1"
pytest-pyramid = "==1.0.3"
tbump = "==6.11.0"
pdbpp = "==0.10.3"
sphinx = {version = "==8.0.2", markers="python_version > '3.9'"}
psycopg = "==3.2.2"
ruff = "==0.6.2"
