# requirements of main dependencies used for tests
pyramid==2.0
pyramid_localize==1.0.1
pyramid-basemodel==0.5.0; python_version>='3.7'
zope.sqlalchemy==1.4
pyramid-mako==1.1.0
pyramid-tm==2.4
transaction==3.0.1
requests==2.25.1
velruse==1.1.1
sqlalchemy==1.4.15
mock==4.0.3
pytest==6.2.4
pytest-pyramid==1.0.0
pytest-cov==2.12.0
pytest-mysql==2.0.3
pytest-postgresql==3.0.1
-e .[tests]
