# requirements of main dependencies used for tests
pyramid==1.9.2
pyramid_localize==0.1.0
pyramid-basemodel==0.3.6
pyramid-mako==1.0.2
pyramid-tm==2.2
requests==2.19.1
sqlalchemy==1.2.10
velruse==1.1.1
tzf.pyramid_yml==1.1.1
pylama==7.4.3
pyflakes==2.0.0
pycodestyle==2.4.0
pydocstyle==2.1.1
mccabe==0.6.1
