name: Merge me test dependencies!

on:
  workflow_run:
    types:
      - completed
    workflows:
      - 'Run tests'
      - 'Test build package'
      - 'Run linters'

jobs:
  automerge:
    uses: fizyk/actions-reuse/.github/workflows/shared-automerge.yml@v4.2.1
    secrets:
      app_id: ${{ secrets.APP_ID }}
      private_key: ${{ secrets.APP_PRIVATE_KEY }}
