name: Run linters

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  basic_linters:
    uses: fizyk/actions-reuse/.github/workflows/shared-linters-python.yml@v4.1.1
    with:
      black: true
      ruff: true
